<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>
                %d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%t]) %highlight(%-5level) %boldYellow(%logger{36}.%M) %cyan[%X{tenantId:-}] %boldBlue([%X{traceId:-}]) %boldGreen([%X{spanId:-}]) - %boldCyan(%msg%n)
            </Pattern>
        </encoder>
    </appender>
    <!-- LOG everything at INFO level -->
    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- LOG "com.baeldung*" at TRACE level -->
    <logger name="com.baeldung" level="trace" additivity="false">
        <appender-ref ref="CONSOLE" />
    </logger>
</configuration>